@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background: #fff;
  padding: 0px;
  margin: 0px;
}

/*** BARRE DE NAVIGATION **/
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: fixed;
  z-index: 99;
  /* TITRE */
}
nav .nav-title {
  font-family: montserrat;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px 15px;
}
nav .nav-title a {
  text-decoration: none;
}
nav .nav-title a b {
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
  background: #e74747;
  padding: 10px;
  border: 3px solid #e74747;
}
nav .nav-title a span {
  font-size: 2rem;
  font-weight: 400;
  color: #e74747;
  padding: 10px;
  border: 3px solid #e74747;
}
nav .nav-user {
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  /* ICON CONNEXION / DECONNEXION */
  /* ICON VOIR MON PROFIL */
}
nav .nav-user .user {
  font-size: 2rem;
  text-decoration: none;
  background: #e74747;
  color: #fff;
  padding: 5px 15px;
  text-align: center;
}
nav .nav-user .profile {
  font-size: 2rem;
  text-decoration: none;
  color: #e74747;
  padding: 5px 15px;
  border: 3px solid #e74747;
}

/*** PAGES INSCRIPTION / CONNEXION ***/
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .page {
  background: #ffd5d5;
  width: 98.5%;
  padding: 30px;
  display: flex;
  justify-content: center;
  height: auto;
  /* FORMULAIRE */
}
.home .page form {
  width: 50%;
  /* MESSAGE D'ERREUR */
  /* STYLE DE LIEN 1 */
  /* STYLE DE LIEN 2 */
}
.home .page form h1 {
  font-family: montserrat;
  font-weight: 800;
  color: #e74747;
}
.home .page form label {
  font-family: montserrat;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 0px 0px 0px;
}
.home .page form input {
  font-family: montserrat;
  font-size: 1rem;
}
.home .page form .form-error {
  color: red;
  font-family: montserrat;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 0px;
}
.home .page form button {
  background: #e74747;
  color: #fff;
  border: 3px solid #e74747;
  font-family: montserrat;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
  text-transform: uppercase;
}
.home .page form .link {
  background: #fff;
  color: #e74747;
  border: 3px solid #e74747;
  font-family: montserrat;
  font-size: 1rem;
  padding: 17px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 1rem;
}
.home .page form .main {
  background: #fff;
  color: #e74747;
  border: 3px solid #e74747;
  font-family: montserrat;
  font-size: 1rem;
  padding: 15px;
  text-decoration: none;
}
.home .page form .main a {
  text-decoration: none;
  color: #e74747;
  text-transform: uppercase;
  font-weight: 600;
}
.home .page form .second {
  background: #e74747;
  color: #fff;
  border: 3px solid #e74747;
  font-family: montserrat;
  font-size: 1rem;
  padding: 15px;
  margin: 0px 10px;
  text-decoration: none;
}
.home .page form .second a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.home .page form p {
  font-family: montserrat;
  font-size: 1.1rem;
}
.home .page form .bottom {
  display: flex;
  flex-direction: row;
}

/*** PROFIL USER ***/
.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile .page {
  background: #ffd5d5;
  width: 98.5%;
  padding: 30px;
  display: flex;
  justify-content: center;
  height: 100vh;
  /* INFORMATIONS DU PROFIL */
}
.profile .page .profile-main {
  width: 60%;
  /*** ONLGETS COLLECTION ***/
}
.profile .page .profile-main .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  /* PHOTO DE PROFIL */
  /* PSEUDO DU PROFIL */
}
.profile .page .profile-main .top img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
}
.profile .page .profile-main .top span {
  font-family: montserrat;
  font-size: 1.5rem;
  font-weight: 600;
  color: #e74747;
}
.profile .page .profile-main .collection {
  margin-top: 2rem;
  /* BOUTON ONGLET */
  /* CONTENU ONGLET*/
}
.profile .page .profile-main .collection .nav-tabs {
  font-family: montserrat;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 0px;
}
.profile .page .profile-main .collection .nav-tabs .nav-link {
  background: #f2f2f2;
  color: #000;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.profile .page .profile-main .collection .nav-tabs .nav-link.active {
  color: #e74747;
  background: #fff;
  border: 1px solid #ccc;
}
.profile .page .profile-main .collection .tab-content .tab-pane {
  background: #fff;
  border-radius: 0px 25px 25px 25px;
  border: 1px solid #ccc;
  border-top: 0px;
}
.profile .page .profile-main .collection .tab-content .tab-pane .content {
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  /* MANGA */
}
.profile .page .profile-main .collection .tab-content .tab-pane .content .manga-card {
  width: 35%;
  background: #f2f2f2;
  border-radius: 25px;
  /* IMAGE MANGA CARD */
  /* INFORMATIONS SUR LE MANGA */
}
.profile .page .profile-main .collection .tab-content .tab-pane .content .manga-card .manga-top {
  width: 100%;
  background: rgba(231, 71, 71, 0.6);
  border-radius: 25px 25px 0px 0px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* A LIRE, EN COURS, TERMINE */
}
.profile .page .profile-main .collection .tab-content .tab-pane .content .manga-card .manga-top .status {
  font-family: montserrat;
  font-size: 0.8rem;
  text-transform: uppercase;
  background: rgb(231, 71, 71);
  padding: 10px;
  font-weight: 600;
  border-radius: 25px;
  color: #fff;
  margin: 10px;
}
.profile .page .profile-main .collection .tab-content .tab-pane .content .manga-card .manga-top i {
  color: #fff;
  font-size: 1.8rem;
  margin: 10px;
}
.profile .page .profile-main .collection .tab-content .tab-pane .content .manga-card .manga-body {
  font-family: montserrat;
  padding: 15px;
  /*TITRE DU MANGA*/
  /*AUTEUR DU MANGA*/
  /*GENRE DU MANGA*/
}
.profile .page .profile-main .collection .tab-content .tab-pane .content .manga-card .manga-body b {
  font-size: 1.2rem;
}
.profile .page .profile-main .collection .tab-content .tab-pane .content .manga-card .manga-body p {
  text-transform: uppercase;
  font-weight: 500;
}
.profile .page .profile-main .collection .tab-content .tab-pane .content .manga-card .manga-body .genre {
  font-family: montserrat;
  font-size: 0.8rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-weight: 600;
  border-radius: 25px;
  color: #fff;
}

/*** PAGE MANGA COMPLET ***/
.manga {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.manga .page {
  background: #ffd5d5;
  width: 98.5%;
  padding: 30px;
  display: flex;
  justify-content: center;
  height: auto;
}
.manga .page .manga-post {
  background: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
}
.manga .page .manga-post .manga-both {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* INFORMATIONS à gauche */
  /* INFORMATIONS à droite */
}
.manga .page .manga-post .manga-both .left {
  padding: 15px;
  /* USER qui a ajouté le MANGA */
  /* IMAGE MANGA COUVERTURE */
  /* MANGA à lire, en cours, terminé */
}
.manga .page .manga-post .manga-both .left .user-manga {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* PHOTO DE PROFIL */
  /* PSEUDO USER */
}
.manga .page .manga-post .manga-both .left .user-manga img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.manga .page .manga-post .manga-both .left .user-manga span {
  font-family: montserrat;
  font-size: 1rem;
}
.manga .page .manga-post .manga-both .left .manga-img {
  width: 300px;
  height: 425px;
  border-radius: 25px;
}
.manga .page .manga-post .manga-both .left .status {
  margin: 10px;
}
.manga .page .manga-post .manga-both .left .status span {
  font-family: montserrat;
  font-size: 0.8rem;
  text-transform: uppercase;
  background: rgb(231, 71, 71);
  padding: 10px;
  font-weight: 600;
  border-radius: 25px;
  color: #fff;
}
.manga .page .manga-post .manga-both .right {
  padding: 50px 30px 10px 15px;
  /* TITRE DU MANGA */
  /* RESUME DU MANGA */
}
.manga .page .manga-post .manga-both .right h1 {
  font-family: montserrat;
  font-weight: 800;
}
.manga .page .manga-post .manga-both .right p {
  font-family: montserrat;
  font-size: 1rem;
  text-align: justify;
  padding: 20px 0px;
}
.manga .page .manga-post .manga-both .right .info-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  /* AUTEUR DU MANGA */
  /* GENRE DU MANGA */
  /* NOTE DU MANGA */
}
.manga .page .manga-post .manga-both .right .info-line b {
  font-family: montserrat;
  font-weight: 500;
  font-size: 1rem;
}
.manga .page .manga-post .manga-both .right .info-line span {
  font-family: montserrat;
  font-size: 0.8rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-weight: 600;
  border-radius: 25px;
  color: #fff;
}
.manga .page .manga-post .manga-both .right .info-line .note {
  background: transparent;
  color: #e74747;
  font-size: 1.5rem;
}
.manga .page .manga-post .manga-comments {
  font-display: flex;
  padding: 20px;
  /* TOUS LES COMMENTAIRES */
}
.manga .page .manga-post .manga-comments h2 {
  font-weight: 800;
  font-family: montserrat;
}
.manga .page .manga-post .manga-comments .post-comments {
  background: #f2f2f2;
  border-radius: 25px;
  /* UN COMMENTAIRE */
}
.manga .page .manga-post .manga-comments .post-comments .comment {
  padding: 10px 15px;
}
.manga .page .manga-post .manga-comments .post-comments .comment .title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: montserrat;
  gap: 1rem;
  /*PSEUDO COMMENTAIRE*/
  /*TITRE COMMENTAIRE*/
}
.manga .page .manga-post .manga-comments .post-comments .comment .title b {
  text-transform: uppercase;
  font-size: 800;
}
.manga .page .manga-post .manga-comments .post-comments .comment .title span {
  text-transform: uppercase;
  font-size: 600;
}
.manga .page .manga-post .manga-comments .post-comments .comment p {
  font-family: montserrat;
  font-size: 0.9rem;
}
.manga .page .manga-post .manga-comments .post-comments .add-comment {
  padding: 10px;
}
.manga .page .manga-post .manga-comments .post-comments .add-comment .coms {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.manga .page .manga-post .manga-comments .post-comments .add-comment .coms .com-input {
  font-family: montserrat;
}
.manga .page .manga-post .manga-comments .post-comments .add-comment button {
  font-size: 1rem;
  text-decoration: none;
  color: #e74747;
  border: 3px solid #e74747;
  background: #fff;
  text-transform: uppercase;
  font-weight: bold;
  height: 50px;
  margin-top: 1.5rem;
  border-radius: 20px;
}/*# sourceMappingURL=style.css.map */